@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");

/* Variables */

$color-light: #fff;
$color-dark: #444;
$color-black: black;

$font-logo: "Sacramento", cursive;
$font-header: "Oswald", sans-serif;
$font-text: "Source Sans Pro", sans-serif;

/* Global */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to top, #d7d2cc 0%, #304352 100%);
	background-size: cover;
	font-family: $font-text;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.7;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

a,
li {
	color: rgb(9, 40, 76);
}

.section-title {
	font-size: 22px;
	text-transform: uppercase;
	font-family: $font-header;
	font-weight: 600;
}

/* Layout */

.wrapper {
	display: flex;
	margin-left: 10px;
}

.sidebar {
	flex: 1 0 0;
}

.posts {
	flex: 2 0 0;
}

.sidebar,
.posts {
	background: inherit;
	margin-right: 10px;
	padding: 40px;
	font-weight: bold;
	color: $color-black;
}

/* Logo */

.logo {
	font-family: $font-logo;
	font-weight: 400;
	font-size: 104px;
	line-height: 1;
	text-align: center;
	color: $color-light;
	text-shadow: 5px 5px $color-black;
}

/* Lists */

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	.active {
		color: $color-light;
	}
}

.list-horizontal {
	li {
		display: inline-block;
	}
}

/* Authors */

.authors {
	li {
		margin-bottom: 12px;
	}
}

/* Post */

.post {
	display: none;
	&.active {
		display: block;
	}
}

.post-author {
	font-style: italic;
}

.post-tags {
	display: flex;
	p {
		margin: 0 10px 0 0;
	}
}

@media (max-width: 768px) {
	.wrapper {
		flex-flow: column;
		.post {
			.post-title,
			.post-author {
				text-align: center;
			}
		}

		.sidebar {
			text-align: center;
		}
	}
}
